body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Source Sans Pro";
}
.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding-top: 90px;
    box-sizing: border-box;
}
header{
    width: 1200px;
}
.header-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    border-radius: 2px;
    border: 4px solid #170f1c;
    opacity: 0.7;
}
.logo{
    display: block;
    position: relative;
    text-decoration: none;
    color: #494949;
    font-size: 38px;
    font-weight: 400;
    padding: 0 20px;
}
.logo:first-letter{
    color: #fa9279;
}
.bar1, .bar2, .bar3{
    width: 34px;
    height: 4px;
    background-color: #170f1c;
    margin: 6px 0;
    opacity: 0.6;
}
.second-header-row{
    justify-content: center;
    padding-top: 145px;
}
.header-title{
    font-size: 28px;
    font-weight: 400;
    color: #626262;
    text-align: center;
    opacity: 0.9;
}
.title-span{
    color: #fc6744;
    font-weight: 600;
}
.header-subtitle p{
    font-size: 16px;
    margin: 0 auto;
}
.threeth-header-row{
    padding-top: 110px;
    justify-content: flex-start;
}
.form-container{
    box-shadow: 0 0 57px rgba(20, 20, 21, 0.2);
    border-radius: 2px;
    background-color: #ffffff;
    width: 30%;
}
.form-title h3{
    color: #211a18;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    padding: 0;
    border: none;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #cacaca;
    box-sizing: border-box;
}
textarea{
    resize: none;
    border: none;
    border-bottom: 2px solid #cacaca;
    width: 100%;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.form-container button{
    box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
    border-radius: 27px;
    border: 1px solid rgba(1, 2, 2, 0.07);
    background-color: #ff5c36;
    padding: 15px 66px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    background-image: url("../img/button-bg.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 20px;
}
.main-content-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-section{
    padding-top: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-content{
    width: 1200px;
}
.section-title .title-span, .section-title h2{
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.section-subtitle p{
    color: #414141;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    opacity: 0.7;
    text-align: center;
}
.section-second-row{
    padding: 110px 0;
    display: flex;
}
.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-item{
    width: 23%;
    padding: 20px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 35px rgba(20, 20, 21, 0.21);
}
.first-container .card-item{
    height: 300px;
}
.card-item svg{
    width: 45px;
    height: 45px;
}
.card-item path{
    fill: #fff;
}
.card-item rect{
    fill: #fff;
}
.card1{
    background-color: #4eb2f7;
}
.card2{
    background-color: #c049f8;
}
.card3{
    background-color: #817eff;
}
.card4{
    background-color: #f74770;
}
.card-title h3{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.card-text p{
    margin-top: 24px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    opacity: 0.8;
}
.card-button button{
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    padding: 15px 66px;
    font-weight: 400;
    font-size: 14px;
    background-image: url("../img/add.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 15% center;
    cursor: pointer;
}
.second-section{
    background-color: #f5f5f5;

}
.work-container{
    justify-content: space-evenly;
}
.work-card-item{
    width: 360px;
    height: 360px;
    background-color: #ff5c36;
    margin-bottom: 29px
}
.work-card-item:nth-child(n+7){
    margin-bottom: 0;
}
.section-column{
    width: 33%;
    display: flex;
    flex-direction: column;
}
.section-column .card-container{
    width: 50%;
    align-items: center;
    flex-direction: column;
}
.section-column .card-item{
    width: 100%;
    display: inline;
    margin-bottom: 10px;
    box-shadow: none;
    background-color: #f5f5f5;
    opacity: 0.7;
}
.first-column{
    width: 20%;
}
.second-column{
    width: 50%;
    justify-content: center;
}
h4{
    font-size: 30px;
    font-weight: 400;
    position: relative;
}
h4::before{
    content: " ";
    width: 57px;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #ff5c36;
}
.section-column-text p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.65;
    margin-bottom: 25px;
}
.second-column .card-button{
    text-align: center;
}
.workers-container .card-item{
    width: 31%;
    height: 450px;
    justify-content: flex-end;
    background-color: #ff5c36;
    position: relative;
    transition: 1s linear;
}
.workers-container .card-item:hover{
    padding-bottom: 35px;
    bottom: 20px;
}
.workers-container .card-item::before{
    content: " ";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #fff3f0;
    background-image: url("../img/bg.jpeg");
    transition: all 1s;
}
.workers-container .card-item:hover::before{
    height: 100%;
}
.workers-container .card-item:hover .card-skills{
    color: #000;
}
.workers-container .card-item:hover .skill-bar{
    opacity: 1;
}
.bottom-card{
    position: relative;
    bottom: -35px;
    background-color: #fff;
    padding: 20px 75px;
    border-radius: 10px;
}
.bottom-card p{
    margin: 0;
    text-align: center;
}
.name{
    font-size: 30px;
    font-weight: 400;
    opacity: 1;
}
.subname{
    font-size: 16px;
    font-weight: 300;
    opacity: 0.7    ;
}
.card-skills{
    position: relative;
    color: #ff5c36;
    transition: .5s;
    text-align: center;
    width: 65%;
}
.skill-bar{
    width: 100%;
    height: 5px;
    background-color: #707070;
    opacity: 0;
    transition: 0.6s;
    border-radius: 4px;
}
.orange-bar{
    background-color: #ff5c36;
    position: relative;
    height: 100%;
    border-radius: 4px;
}
.skill-bar1 .orange-bar{
    width: 79%;
}
.skill-bar2 .orange-bar{
    width: 65%;
}
.skill-bar3 .orange-bar{
    width: 88%;
}
.slider{
    width: 100%;
    display: flex;
    overflow: auto;
}
.slide-item{
    min-width: 465px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 0 0 27px rgba(20, 20, 21, 0.09);
    border-radius: 1px;
    padding: 0 50px 50px 50px
}
.slide-img{
    border-radius: 50%;
    background-image: url("../img/bg-new.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: auto;
}
.slide-text{
    font-size: 17px;
    font-weight: 400;
    opacity: 0.7;
}
.slide-author-span{
    font-family: "Source Sans Pro";
    font-size: 17px;
    font-weight: 800;
    font-style: italic;
}
.slide-italick-span{
    font-family: "Source Sans Pro";
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
}
.link-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 140px;
}
.link-item{
    width: 150px;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.item1{
    background-image: url("../img/link1.png");
}
.item2{
    background-image: url("../img/link2.png");
}
.item3{
    background-image: url("../img/link3.png");
}
.footer-container{
    width: 100%;
    display: flex;
    background-color: #d3d3d3;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
}
.footer-button button{
    box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.07);
    border-radius: 27px;
    border: 1px solid rgba(1, 2, 2, 0.07);
    background-color: #fdfdfd;
    padding: 30px 80px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
footer{
    max-width: 1200px;
}
.footer-socials{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
footer svg{
    width: 25px;
    height: 25px;
}
footer path{
    fill: #000;
}
footer a{
    background-color: #f7f7f7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    margin: auto;
}
footer a:hover{
    background-color: #ff5c36;
}

@media (max-width: 640px){
    .threeth-header-row{
        justify-content: center;
    }
    .form-container{
        width: 90%;
    }
    .main-content-container{
        overflow: hidden;
    }
    section{
        padding: 15px;
        box-sizing: border-box;
    }
    .first-container{
        justify-content: center;
    }
    .first-container .card-item{
        width: 90%;
        margin: 20px
    }
    .work-card-item{
        width: 90%;
    }
    .work-card-item:nth-child(n+7){
        margin-bottom: 29px;
    }
    .section-second-row{
        flex-wrap: wrap;
    }
    .section-column{
        width: 100%;
        align-items: center;
    }
    .section-column-text{
        padding: 15px;
    }
    .card-button{
        margin-bottom: 40px;
    }
    .workers-container .card-item{
        width: 100%;
        margin-bottom: 70px;
    }
    .slider{
        width: 100vw;
    }
    .slide-item{
        min-width: 60vw;
    }
    .hidden-section{
        display: none;
    }
    .header-row{
        padding: 10px;
        box-sizing: border-box;
    }
}